.home-container {
  min-height: 70vh;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  color: #111111;
  gap: 8rem;

  position: relative;
  overflow: hidden;
}

/* Aseguramos que el contenido vaya por encima de las ondas */
.home-left,
.home-right {
  position: relative;
  z-index: 1;
}

/* IZQUIERDA: nombre y texto descriptivo */
.home-left {
  flex: 1;
  max-width: 420px;
}

.home-name {
  font-size: 1.1rem;
  letter-spacing: 0.18em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.8rem;
}

.home-role {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.home-description {
  font-size: 1.1rem;
  line-height: 1.4;
  color: #444444;
}

/* DERECHA: menú grande */
.home-right {
  display: flex;
  justify-content: center;
}

.home-menu {
  display: flex;
  flex-direction: column;
  text-align: right;
  gap: 1.2rem;
}

.home-menu a {
  font-family: "Playfair Display", serif;
  font-weight: 600;
  font-size: clamp(3rem, 10vw, 14rem);
  line-height: 1.05;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #111111;

  position: relative;       
  display: inline-block;    
  padding-bottom: 5px;      

  transition: transform 0.3s ease,
              opacity 0.3s ease,
              letter-spacing 0.3s ease;
}

.home-menu a:hover {
  transform: translateX(-6px) skew(-12deg);
  letter-spacing: 0.07em;
}

.home-menu a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 2px;
  background-color: #111111;
  transition: width 0.4s ease;
}

.home-menu a:hover::after {
  width: 100%;
}

/* Responsive */

@media (max-width: 1200px) {
  .home-container {
    gap:5rem;
  }

   .home-role {
  font-size: 0.8rem;
}

.home-description {
  font-size: 0.8rem;
}
}

@media (max-width: 900px) {
  .home-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 3rem 1.8rem 4rem;
    gap:0;
  }

  .home-right {
    width: 100%;
    justify-content: flex-start;
  }

  .home-menu a {
    font-size: clamp(2.6rem, 10vw, 4rem);
    text-align: left;
  }

  .home-left {
    max-width: none;
    margin-bottom: 1rem;
  }
}
