.home-container {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #1e1e1e;
  color: #ffffff;
  padding: 2rem;
}

.text-content h1 {
  font-size: 2.8rem;
  line-height: 1.3;
  font-weight: 600;
}

.text-content span {
  color: #8aa4ff;   /* Puedes cambiar este color luego */
  font-weight: 700;
}

.text-content p {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #d1d1d1;
}

.main-btn {
  margin-top: 2rem;
  padding: 0.8rem 2.2rem;
  border: none;
  font-size: 1rem;
  border-radius: 4px;
  background-color: #8aa4ff;
  color: #ffffff;
  cursor: pointer;
  transition: 0.3s;
}

.main-btn:hover {
  background-color: #748bff;
}
