.work-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  min-height: 80vh;
  color: #e8e8e8;
  gap: 4rem;
  animation: slideUp 0.8s ease-out forwards;
  position: relative;
  z-index: 1;
  margin-top:4rem;
}

.work-overlay {
  position: fixed;
  inset: 0 3rem 0 3rem; 
  background: #000;
  z-index: 0; 
  animation: workBgUp 0.8s ease-out forwards;
  pointer-events: none; 
}

@keyframes workBgUp {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Left text */
.work-left {
  max-width: 420px;
}

.work-left h2 {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 3px;
  margin-bottom: 1rem;
  margin-top:0;
  font-weight: 500;
  font-size: 1.1rem;
  font-weight: 500;
}

.work-left p {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem;
  line-height: 1.4;
  margin-bottom: 1.2rem;
}

/* Right project links */
.work-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.work-item {
  text-decoration: none;
  font-size: clamp(3rem, 10vw, 4.6rem);
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  /* letter-spacing: 3px; */
  transition: opacity 0.3s ease;
  color: #f4f4f4;
  line-height: 100%;
  transition: 
    transform 0.6s ease,
    letter-spacing 0.4s ease;
}

.work-item:hover {
  transform: translateX(-6px) skew(-12deg);
  letter-spacing: 0.03em;
  transition-duration: 0.4s;
}

.work-project {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.work-desc {
  font-size: 0.9rem;
  color: #F4F4F4;
  letter-spacing: 0.03em;
  margin-left: 0.2rem;
  margin-top:0;
  margin-bottom:0;
  font-family: 'Montserrat', sans-serif;
}

.work-left,
.work-right {
  opacity: 0;
  animation: fadeDownBlur 0.9s ease-out forwards;
}

@keyframes fadeDownBlur {
  0% {
    opacity: 0;
    transform: translateY(-25px);
    filter: blur(10px);
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

/* Responsive */

@media (max-width: 1400px) { 
.work-item {
    font-size: clamp(3rem, 10vw, 4.2rem);
  }
}

@media (max-width: 1200px) { 
.work-left {
    max-width: 330px;
  }

  .work-item {
    font-size: clamp(3rem, 10vw, 4rem);
  }
}
@media (max-width: 1100px) { 
  .work-item {
    font-size: clamp(3rem, 10vw, 3rem);
  }
}

@media (max-width: 900px) {
  .work-container {
    flex-direction: column;
    padding: 3rem 2rem;
    gap:2rem;
  }

  .work-left {
    max-width: 100%;
  }

  .work-item {
    font-size: 2rem;
  }

   .work-overlay {
  inset: 0 2rem 0 2rem; 
}

.work-desc {
  font-size: 0.7rem;
}
}

@media (max-width: 600px) {
  .work-overlay {
  inset: 0 1rem 0 1rem; 
}

.work-container {
    flex-direction: column;
    margin:0;
  }

  .work-left p {
    font-size:0.8rem;
  }

  @media (max-width:399px) {
     .work-item {
    font-size: 1.7rem;
  }
  }

}