.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
  position: relative;
  z-index: 10;
  top: 0;
  margin:2rem 0;
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  display:flex;
  gap:20px;
}

.navbar-work .logo,
.navbar-work a,
.navbar-work svg {
  color: white !important;
  fill: white !important;
}

.logo,
.work-link {
  color: #111111;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 1px;
  cursor: pointer;
  
}

.logo:hover,
.work-link:hover {
  font-weight: 700;
}

.nav-icons {
  display: flex;
  gap: 1rem;
}

.icon {
  width: 28px;
  height: 28px;
  fill: #111111;  
  transition: transform 0.3s ease, fill 0.3s ease;
  cursor: pointer;
}

.icon:hover {
  transform: scale(1.15);
  fill: #111111;
}



