:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-wrapper {
  padding: 0 80px 0 120px !important; 
}

a {
  font-weight: 500;
  text-decoration: inherit;
}

body {
  margin:0 !important;
}



body::before {
  content: "";
  position: fixed;      /* cubre toda la página, no se mueve con el scroll */
  inset: -25%;
  background: linear-gradient(
    135deg,
    rgba(217, 176, 215, 0.55),
    rgba(236, 231, 225, 0.7),
    rgba(217, 176, 215, 0.55)
  );
  background-size: 200% 200%;
  animation: waveFlow 18s ease-in-out infinite;

  filter: blur(70px);
  pointer-events: none;
  z-index: -1;         /* detrás de todo, incluido navbar y secciones */
  mix-blend-mode: multiply;
}

/* ANIMACIÓN DE LAS ONDAS */
@keyframes waveFlow {
  0% {
    background-position: 0% 0%;
    opacity: 0.75;
  }
  25% {
    opacity: 0.5;
  }
  45% {
    opacity: 0.18;
  }
  50% {
    opacity: 0.05; /* aquí casi ves #ece7e1 puro */
  }
  55% {
    opacity: 0.18;
  }
  75% {
    background-position: 100% 100%;
    opacity: 0.55;
  }
  100% {
    background-position: 0% 0%;
    opacity: 0.75;
  }
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ece7e1;
  }
  button {
    background-color: #f9f9f9;
  }
}
